<main>
  <h1>Rules</h1>
  <div class="date">
    <input type="date" name="" id="">
  </div>
  <div class="recent-rules">
    <table>
      <thead>
      <tr>
        <th>Rule name</th>
        <th>Rule Number</th>
        <th>Date created</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>

      <tr>
        <td>Robotics Project</td>
        <td>1256485</td>
        <td>12/02/2023</td>
        <td class="warning">Pending</td>
        <td class="primary details"> Details</td>
      </tr>


      </tbody>
    </table>
    <a href="#" >Show All</a>
  </div>


</main>
