<main>
  <h1>Rules</h1>
  <div class="date">
    <input type="date" [value]="currentDate" name="currentDate" id="currentDate">
  </div>
  <div class="recent-rules">
    <table>
      <thead>
      <tr>
        <th>Rule name</th>
        <th>Rule Number</th>
        <th>Date created</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.name }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.creationDate | date: 'MM/dd/yyyy' }}</td>
        <td [ngStyle]="{'color': item.disabled ? 'red' : 'green'}">
          {{ item.disabled ? 'Disabled' : 'Enabled' }}
        </td>
        <td class="primary details">Details</td>
      </tr>
      </tbody>
    </table>
    <a href="#" >Show All</a>
  </div>


</main>
